@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movies App</h1>
    <h3>Welcome the the movies website! Store and lookup all your favorite movies</h3>
    <img class="col-md-6" alt="Movie Clip Art" src="~/images/movieHome.png"/>
</div>
